.Calculator {
  max-width: 174px;
}

.Calculator .button-list {
  max-width: 120px;
  margin: 20px auto 0 auto;
}

.Calculator .equal-sign {
  margin: -12px 0;
}

.Calculator p {
  word-break: break-word;
}
